#wrapper {

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: 2em;
}

p {
    font-size: 0.5em;
}

#data {
    display: block;
}

.material-icons {
    vertical-align: text-bottom;
    font-size: 1.3em;
}

#exchange-form, #add-money-form {

    padding-top: 50px;
}

#exchange-span {
    display: inline-flex;
    max-width: 100vw;
    min-width: 50vw;

    justify-items: baseline;
    align-items: baseline;
}

#add-money-span {
    display: inline-flex;
    width: 100%;

    justify-items: baseline;
    align-items: baseline;
}

#input {
    max-width: 100%;
    min-width: 50%;
}

#input-source, #input-destination, #input, #submit {
    border-radius: 0px;
}

#input-source, #input-destination, #input {
    text-align: end;
}

#add-money-total {
    color: green;
    font-weight: bold;

    float: right;
}