#main {
    padding: 20px;
}

#main-wrapper {
    /*width: 100vw;*/
    height: 100vh;
}

.navbar-brand, .nav-item {
    font-weight: bold;
}

.material-icons {
    vertical-align: text-bottom;
    font-size: 1.5em;
}

.nav-item {
    padding-left: 10px;
}