

<div id="wrapper">

  <form>

    <input [(ngModel)]="user.username" type="text" class="form-control" id="username" name="username" required autofocus placeholder="Username" />
    <input [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password" required placeholder="Password" />

    <input type="submit" class="btn btn-success" value="Login" (click)="tryLogin()" />
  </form>


</div>

<p>Want to <b>register</b> instead? Click <a routerLink="/register" routerLinkActive="active" >here!</a></p>